apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: Guestbook
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
---

apiVersion: v1
kind: Service
metadata:
  name: redis-leader
  namespace: Guestbook
spec:
  selector:
    app: redis-leader
  ports:
  - port: 6379
    targetPort: 6379

---
apiVersion: v1
kind: Service
metadata:
  name: redis-follower
  namespace: Guestbook
spec:
  selector:
    app: redis-follower
  ports:
  - port: 6379
    targetPort: 6379

---
apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: Guestbook
spec:
  type: ClusterIP
  selector:
    app: postgresql
  ports:
  - port: 5432
    targetPort: 5432